* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: "Orbitron",sans-serif; 
}

.container {
    display: block;
    margin: 30px 65px 10px 65px;
}

/* Navbar CSS */
.navbar {
    height: 20vh;
}
.navbar-container div{
    float: left;
    padding: 5px 5px;
    margin: 10px 40px;
}

.navbar-container .list .list-item {
    float: left;
    list-style: none;
    font-weight: 500;
    padding: 5px 5px;
    margin: 10px 30px;
}

.navbar-container .list .list-item:nth-child(1) {
    font-weight: 900;
    margin-left: 80px;
}

.navbar-container .list .list-item:nth-child(1)::after {
    content: " ";
    display: block;
    height: 2px;
    width: 80%;
    background-color: #000000;
    margin: 0 auto;
}

.navbar-container .button-group {
    float: right;
    margin: 0 auto;
    padding: 0px;
}

.navbar-container .search-icon {
    padding-top: 8px;
    margin-right: 0px;
}

.navbar-container .nav-button {
    padding: 7px 40px;
    font-size: 16px;
    border: 3px solid #000000;
    border-radius: 12px;
    background-color: #ffffff;
    margin-left: -5px;
    cursor: text;
}


/* Hero Banner CSS */

.hero-container {
    display: block;
    float: left;
    height: 80vh;
}

.hero-container .square {
    position: relative;
    margin-left: 25px;
    top: 150px;
    bottom: 0px;
    z-index: -1;
}

.hero-container .square img {
    width: 250px;
    margin-left: 150px;
    margin-top: 145px;
}

.hero-container .star {
    position: absolute;
    right: 0px;
    width: 160px;
}

.hero-container .star img {
    width: 60px;
}

.hero-container .globe {
    position: absolute;
    left: 780px;
    top: 130px;
}

.hero-container .globe img {
    width: 60px;
 }

.hero-container .globe + div > img {
    position: absolute;
    width: 340px;
    left: 100px;
    top: 200px;
}


.hero-container-right {
    position: relative;
    margin-top: -230px;
    margin-left: 550px;
}

.hero-container-right .hero-heading {
    font-size: 50px;
    margin-bottom: 50px;
}

.hero-container-right .hero-description {
    display: block;
    color: #8a8a8a;
    font-size: 15px;
    max-width: 600px;
    text-align: center;
    margin-bottom: 80px;
    margin-left: 25px;
}

.hero-container-right .button-email {
    font-family: "Orbitron";
    padding: 5px 30px;
    margin-left: 180px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: text;
}

.hero-container-right .button-join {
    font-family: "Orbitron";
    padding: 5px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}

.contact-heading {
    text-align: center;
    font-family: "Poppins";
    color: #8a8a8a;
    font-weight: 600;
    padding-bottom: 12px;
}

.icons span > img {
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.icons > span:nth-child(1) {
    margin-left: 250px;
}

.icons > span:not(:last-child) {
    margin-right: 8px;
}

